.container {
    width: 100% - 40px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
    -webkit-box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
}

.column {
    font-size: 14px;
    color: rgb(85, 85, 85);
}

.input {
    width: 780px;
    border: none;
}

.time {
    font-size: 14px;
    color: rgb(85, 85, 85);
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer p{
    margin: 5px 0;
}

.text {
    font-size: 18px;
}

.inputFlex {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid gray 1px;
    background-color: white;
    padding: 10px 10px;
    gap: 10px;
}

.noneTasks {
    text-align: center;
}

.noneTasksTextBig {
    font-size: 24px;
    font-weight: 600;
}

.footerFlex {
    display: flex;
    justify-content: space-between;
}

.deleteBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color:gray;
    transition: 0.3s;
}

.deleteBtn:hover {
    color: #0066CC;
}