.account {
    margin-left: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main {
    background-color: white;
    -webkit-box-shadow: 0px 10px 16px 1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 10px 16px 1px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 10px 16px 1px rgba(0, 0, 0, 0.44);
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.h2 {
    width: 95%;
    padding-left: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.miniText {
    display: flex;
    align-items: center;
    color: gray;
    gap: 5px;
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
}

.itemPosition {
    margin-bottom: 20px;
    
}

.text {
    margin: 0;
}

.btnItem {
    background-color: transparent;
    color: #0066CC;
    border: none;
    cursor: pointer;
    transition:0.3s;
}

.btnItem:hover {
    color: 	#0000CC;
}

.itemFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputItem {
    padding: 5px;
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    border: 1px solid gray;
}

.inputItem:focus {
    border: 1px solid #0000CC;
}

.exit {
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
}

.exitText {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.644);
}