.sidebar {
    position: fixed;
    color: rgb(212, 208, 208);
    background-color: rgb(31, 29, 36);
    height: 100%;
    width: 100%;
    max-width: 250px;
    min-width: 250px;
    z-index: 1000; 
    top: 0; 
    left: 0;
    overflow-x: hidden;
    padding: 0 20px;
    transition: 0.4s;
}



.sidebarHeader {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebarHeader img {
    border-radius: 10px;
    width: 35px;
    height: auto;
    
}

.sidebarHeader button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    height: auto;
    padding: 3px;
}

.sidebarHeader button:hover {
    background-color: rgb(43, 41, 49);
    transition: 0.4s;
}

.menu {
    margin: 20px 0;
}

.menu p{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.btnMenu {
    /* margin-top: 10px; */
    width: 100%;
    border: none;
    background-color: transparent;
    color: rgb(212, 208, 208);
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
}

.btnMenu:hover {
    background-color: rgb(43, 41, 49);
    transition: 0.4s;
}

.AllProject {
    font-size: 14px;
}

.addProject {
    margin-top: 10px;
    width: 100%;
    border: none;
    background-color: transparent;
    color: rgb(212, 208, 208);
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
}

.addProject:hover {
    background-color: rgb(43, 41, 49);
    transition: 0.4s;
}

.textProject {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.projectPosition {
    margin-bottom: 50px;
    max-height: 450px;
}

.flexAdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.addTitle {
    margin-top: 40px;
    padding: 10px 20px;
    /* max-width: 150px; */
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.flexBigText {
    color: black;
    font-size: 20px;
    margin-top: 0;
}

.flexAdd input {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: solid 1px gray;
}

.flexText {
    font-size: 16px;
    color: black;
    margin-top: 0;
}

.flexBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.pointBtn:hover {
    background-color: rgb(43, 41, 49);
    transition: 0.4s;
}

.pointBtn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}  

.dropdownMini {
    border: solid 1px gray;
    list-style-type:none;
    padding: 5px;
    margin: 0;
    position: absolute;
    background-color: white;
    /* left: -50px; */
    cursor: auto;
    border-radius: 5px;
    transform:translate(-38%, 0);
}

.dropdownNone {
    display: none;
}

.btnDropdown {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.btnDropdown:hover {
    background-color: rgba(240, 238, 238, 0.966);
}

.btnDropdownDelete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
    margin-top: 6px;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.btnDropdownDelete:hover {
    background-color: rgba(240, 238, 238, 0.966);
}